@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');

/*Pc e telas maiores*/
@media (min-width: 1024px) {

    section {
        background-color: var(--secund-color);
        margin: 16px;
    }

    .imagem {
        height: 860px;
        margin: 48px;
    }

    .imagem>img {
        width: 50%;
        height: 100%;
    }

    .home {
        margin-left: 720px;
        margin-right: 5px;
        transform: translateY(-900px);
        font-size: 1.8em;
    }

    .name {
        margin-top: 25px;
        margin-bottom: 5px;
        margin-left: 720px;
        font-size: 1.8em;
        transform: translateY(-890px);
    }

    .descricao>p {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 720px;
        font-size: 1.8em;
        transform: translateY(-890px);
    }

    .destaques>h3 {
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 720px;
        margin-right: 15px;
        font-size: 1.8em;
        transform: translateY(-880px);
    }

    .lista {
        margin-top: 25px;
        margin-bottom: 70px;
        margin-left: 750px;
        margin-right: 15px;
        font-size: 1.8em;
        transform: translateY(-890px);
    }

    .mescla {
        width: 38%;
        height: 90px;
        background-color: var(--quartenary-color);
        margin-bottom: 80px;
        margin-left: 720px;
        border-radius: 8px;
        transform: translateY(-950px);
    }

    .color {
        margin-left: 20px;
        padding-top: 10px;
        font-size: 1.5em;
    }

    .size {
        margin-left: 60px;
        padding-top: 10px;
        font-size: 1.5em;
    }

    .price {
        margin-left: 320px;
        transform: translateY(-70px);
        font-size: 1.0em;
    }

    select {
        text-align: center;
        font-size: 0.7em;
    }

    .add-to-cart {
        width: 15%;
        height: 60px;
        margin-left: 720px;
        background-color: var(--primary-color);
        transform: translateY(-1015px);
    }

    .wishlist {
        width: 18%;
        margin-left: 940px;
        transform: translateY(-1090px);
    }
}