@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');

/*Pc e telas maiores*/
@media (min-width: 1036px) {

    section {
        background-color: var(--secund-color);
        margin: 62px;
    }

    .imagem {
        height: 620px;
        margin: 12px;
    }

    .imagem>img {
        width: 40%;
        height: 100%;
    }

    .home {
        margin-left: 550px;
        margin-right: 5px;
        transform: translateY(-630px);
        font-size: 1.6em;
    }

    .home > p {
        margin-right: 50px;
    }

    .name {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 550px;
        transform: translateY(-630px);
        font-size: 1.4em;
    }

    .descricao>p {
        margin-left: 550px;
        transform: translateY(-650px);
        font-size: 1.4em;
    }

    .destaques>h3 {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 550px;
        margin-right: 15px;
        transform: translateY(-670px);
        font-size: 1.4em;
    }

    .lista {
        margin-top: 5px;
        margin-left: 580px;
        margin-right: 15px;
        transform: translateY(-670px);
        font-size: 1.4em;
    }

    .mescla {
        width: 40%;
        height: 90px;
        background-color: var(--quartenary-color);
        margin-bottom: 80px;
        margin-left: 560px;
        border-radius: 8px;
        transform: translateY(-670px);
    }

    .color {
        margin-left: 20px;
    }

    .size {
        margin-left: 60px;
    }

    .price {
        margin-left: 290px;
        transform: translateY(-50px);
        font-size: 1.3em;
    }

    label {
        font-size: 1.3em;
    }

    select {
        text-align: center;
        font-size: 1.3em;
    }

    .add-to-cart {
        width: 20%;
        height: 60px;
        margin-left: 560px;
        background-color: var(--primary-color);
        transform: translateY(-740px);
    }

    .wishlist {
        width: 18%;
        margin-left: 830px;
        transform: translateY(-815px);
    }
}