@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', serif;
}

:root {
    --primary-color: #18181B;
    --secund-color: #F1F2F4;
    --tertiary-color: rgb(73, 72, 72);
    --quartenary-color: #d9dadbf8;
}

body,
html {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: auto;
}

section {
    background-color: var(--secund-color);
    margin: 8px;
}

p {
    color: var(--tertiary-color);
    font-size: 1.0em;
}

.imagem {
    height: 360px;
}

.imagem>img {
    width: 100%;
    margin: 0px;
    height: 100%;
}

.home {
    margin: 15px;
    display: flex;
}

.home>p {
    margin-right: 6px;
}

.home>p:hover {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px 2px;
}

.name {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.descricao>p {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.destaques>h3 {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.lista {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 37px;
    margin-right: 15px;
}

.lista>ul>li {
    margin-bottom: 10px;
}

.color {
    width: 90px;
    height: 80px;
    padding: 10px;
    background-color: #d9dadbf8;
    margin-left: 15px;
    border-radius: 5px;
    text-align: center;
}

.color>select {
    margin-top: 5px;
    border-radius: 5px;
}

.size {
    width: 90px;
    height: 80px;
    padding: 10px;
    background-color: #d9dadbf8;
    margin-left: 15px;
    margin-top: -80px;
    text-align: center;
    border-radius: 5px;
    transform: translateX(110px);
}

.size>select {
    margin-top: 5px;
    border-radius: 5px;
}

.price {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.add-to-cart {
    display: block;
    width: 90%;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 10px;
}

.add-to-cart>p {
    background-color: var(--primary-color);
    color: var(--secund-color);
}
